<div class="app-container app-theme-white body-tabs-shadow">
    <div class="app-container">
        <div class="row">
            <div class="app-page-title" style="margin: 0%; width: 100%;">
                <div class="page-title-wrapper">
                    <div class="page-title-heading">
                        <div class="page-title-icon">
                            <i class="pe-7s-home icon-gradient bg-premium-dark">
                            </i>
                        </div>
                        <div><span class="text-success"><h4>{{ 'RejectedDocument.RejectedFiles' | translate }}</h4></span> <strong><h5>{{ 'RejectedDocument.Workspace' | translate }}</h5></strong>
                            <div class="page-title-subheading">
                                {{ 'RejectedDocument.ViewAllFoldersInterface' | translate }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card d-md-flex d-sm-block bg-white col-sm-12 col-md-12 col-lg-12 page-column">
                <div class="alert alert-warning fade show mt-3" role="alert" style="text-align: justify;">
                    <span class="font-icon-wrapper font-icon-md mr-2">
                        <i class="pe-7s-shield" size="medium"> </i>
                    </span>
                    <strong><u>{{ 'RejectedDocument.NoteSecurite1' | translate}}</u> </strong>  {{ 'RejectedDocument.NoteSecurite2' | translate}}
                </div>

                <!---->
                <div class="tabs-animation">
                    <div class="main-card mb-3 card">
                        <div class="card-header">
                            <i class="header-icon pe-7s-junk icon-gradient bg-love-kiss"> </i>
                            {{ 'RejectedDocument.RejectedFolders' | translate}}
                        </div>
                        <div class="card-body">
                
                            <table id="example2" class="table table-hover table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>badge</th>
                                        <th>{{ 'RejectedDocument.Name' | translate}}</th>
                                        <th>{{ 'RejectedDocument.Description' | translate}}</th>
                                        <th>{{ 'RejectedDocument.JointFiles' | translate}}</th>
                                        <th>{{ 'RejectedDocument.SubmissionDate' | translate}}</th>
                                        <th>{{ 'RejectedDocument.Actions' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of data,let i = index" id="tr{{ item.id }}">
                                        <td>{{ i+1 }}</td>
                                        <td class="text-center">
                                            <span class="badge badge-danger">rjt</span>
                                        </td>
                                        <td>{{ display(item?.name) }}</td>
                                        <td>{{ display(item?.description) }}</td>
                                        <td>{{ item?.file_number }} {{ 'RejectedDocument.JointFiles' | translate}}</td>
                                        <td>{{ parser(item?.created_at) }}</td>
                                        <td>
                                            <div role="group" class="btn-group-sm btn-group">
                                                <button class="mr-2 btn-icon btn-icon-only btn btn-success" (click)="details(item)" title="{{ 'PendingDocument.Info' | translate}}"><i class="pe-7s-info btn-icon-wrapper"> </i></button>
                                                <!--<button class="mr-2 btn-icon btn-icon-only btn btn-danger" (click)="delete(item)" title="cliquer pour supprimer"><i class="pe-7s-trash btn-icon-wrapper"> </i></button>-->
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot *ngIf="loading && (!data || !data.length)">
                                    <td colspan="7" class="text-center">
                                        <div class="spinner-border spinner-sm">
                                            <span class="sr-only">{{ 'RejectedDocument.PleaseWait' | translate}}</span>
                                        </div>
                                    </td>
                                </tfoot>
                                <tfoot *ngIf="!loading && (!data || !data.length)">
                                    <td colspan="7" class="text-center">
                                        {{ 'RejectedDocument.EmptyList' | translate}}
                                    </td>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>                
                <!---->
            </div>
        </div>
    </div>
</div>
