<div class="app-container app-theme-white body-tabs-shadow">
    <div class="app-container">
        <div class="row">
            <div class="app-page-title" style="margin: 0%; width: 100%;">
                <div class="page-title-wrapper">
                    <div class="page-title-heading">
                        <div class="page-title-icon">
                            <i class="pe-7s-phone icon-gradient bg-premium-dark">
                            </i>
                        </div>
                        <div><span class="text-success"><h4>{{ 'FolderTracking.FolderFollowUp' | translate }}</h4></span> <strong><h5>{{ 'FolderTracking.WorkSpace' | translate }}</h5></strong>
                            <div class="page-title-subheading">
                                {{ 'FolderTracking.FolderFollowUpView' | translate }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="alert alert-warning fade show mt-3" role="alert" style="text-align: justify;">
                    <span class="font-icon-wrapper font-icon-md mr-2">
                        <i class="pe-7s-shield" size="medium"> </i>
                    </span>
                    <strong><u>{{ 'FolderTracking.SecurityNote' | translate }}</u> </strong>  {{ 'FolderTracking.allDataSecured' | translate }}
                </div>
                
                <div *ngIf="isError" class="alert alert-danger alert-dismissible fade show" role="alert" style="text-align: justify;">
                    <strong>{{ message?.title }}: </strong>{{ message?.content }}
                    <button type="button" (click)="cancel()" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div *ngIf="isSuccess" class="alert alert-success alert-dismissible fade show" role="alert" style="text-align: justify;">
                    <strong>{{ message?.title }}: </strong>{{ message?.content }}
                    <button type="button" (click)="cancel()" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <form (submit)="onSubmit()">
                            <div class="form-row">
                                <input 
                                    [(ngModel)]="track_id" 
                                    name="track_id" 
                                    class="form-control" 
                                    type="text" 
                                    placeholder="{{ 'FolderTracking.typeFolderNumber' | translate }}" 
                                    style="width: 70%; margin: auto; margin-top: 25px;">
                            </div>
                            <div class="form-row mt-4">
                                <div style="text-align: center; justify-content: center; align-items: center;">
                                    <button [disabled]="isLoading"
                                        class="btn btn-wide btn-shadow btn-hover-shine btn-success btn-sm"
                                        style="justify-content: center; align-items: center; flex: 1;">
                                        <span *ngIf="!isLoading" style="font-size: medium; padding: 0px; margin: 5px;">
                                            {{ 'FolderTracking.seeFolderProgression' | translate }} </span>
                                        <div *ngIf="isLoading" style="padding: 15px; margin-left: 50%;">
                                            <div class="ball-scale-multiple">
                                                <div style="background-color: white;"></div>
                                                <div style="background-color: white;"></div>
                                                <div style="background-color: white;"></div>
                                            </div>
                                        </div>
                                    </button>
                                </div>    
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-sm-12 col-md-5 col-lg-12" style="margin-top: 50px;">
                    <div class="mb-3 card">
                        <div class="card-header-tab card-header">
                            <div 
                                class="card-header-title font-size-md text-capitalize font-weight-normal">
                                POURCENTAGE D'EVOLUTION DU DOSSIER
                            </div>
                        </div>
                        <div class="p-0 card-body" style="position: relative;">
                            <div class="widget-content pt-0 w-100">
                                <div class="widget-content-outer">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left pr-2 fsize-1">
                                            <div class="widget-numbers mt-0 fsize-3 text-success">0%</div>
                                        </div>
                                        <div class="widget-content-right w-100">
                                            <div class="progress-bar-lg progress">
                                                <div 
                                                    class="progress-bar bg-success" 
                                                    role="progressbar" 
                                                    aria-valuenow="0.5" 
                                                    aria-valuemin="0" 
                                                    aria-valuemax="100" 
                                                    style="width: 0.5%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-content-left fsize-1">
                                        <div class="text-muted opacity-6">Etat actuel</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
