<div class="app-container app-theme-white body-tabs-shadow">
    <div class="app-container">
        <div class="h-100">
            <div class="h-100 no-gutters row">
                <div class="d-none d-lg-block col-lg-4">
                    <div class="slider-light">
                        <div class="slick-slider">
                            <div>
                                <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-plum-plate" tabindex="-1">
                                    <div class="slide-img-bg" style="background-image: url('assets/images/originals/city.jpg');"></div>
                                    <div class="slider-content"><h3>Perfect Balance</h3>
                                        <p>ArchitectUI is like a dream. Some think it's too good to be true! Extensive collection of unified React Boostrap Components and Elements.</p></div>
                                </div>
                            </div>
                            <div>
                                <div class="h-100 d-flex justify-content-center align-items-center bg-premium-dark" tabindex="-1">
                                    <div class="position-relative slide-img-bg" style="background-image: url('assets/images/originals/citynights.jpg');"></div>
                                    <div class="slider-content"><h3>Scalable, Modular, Consistent</h3>
                                        <p>Easily exclude the components you don't require. Lightweight, consistent Bootstrap based styles across all elements and components</p></div>
                                </div>
                            </div>
                            <div>
                                <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-sunny-morning" tabindex="-1">
                                    <div class="slide-img-bg opacity-6" style="background-image: url('assets/images/originals/citydark.jpg');"></div>
                                    <div class="slider-content"><h3>Complex, but lightweight</h3>
                                        <p>We've included a lot of components that cover almost all use cases for any type of application.</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">
                    <div class="mx-auto app-login-box col-sm-12 col-md-8 col-lg-6">
                        <div class="app-logo"></div>
                        <!--  -->
                        <div class="row">
                            <div class="col-sm-6">
            
                            </div>
                            <div class="col-sm-6">
                            <div class="dropdown">
                                <button *ngIf="currentLanguage == 'fr'" (click)="changeLanguage('en')" style="float: right" type="button" data-toggle="dropdown" class="p-0 mr-2 btn btn-link" aria-expanded="false" title="US">
                                    <span class="icon-wrapper icon-wrapper-alt">
                                        <span class="icon-wrapper-bg"></span>
                                        <span class="language-icon flag large US"></span>
                                    </span>
                                </button>
                                <button *ngIf="currentLanguage == 'en'" (click)="changeLanguage('fr')" style="float: right" type="button" data-toggle="dropdown" class="p-0 mr-2 btn btn-link" aria-expanded="false" title="France">
                                    <span class="icon-wrapper icon-wrapper-alt">
                                        <span class="icon-wrapper-bg"></span>
                                        <span class="language-icon opacity-8 flag large FR"></span>
                                    </span>
                                </button>
                            </div>
                            </div>
                        </div>
                        <!-- -->
                        
                        <h4>
                            <div>{{ 'Forgotpwd.Forgotpassword' | translate }}</div>
                            <span>{{ 'Forgotpwd.Form' | translate }}</span></h4>
                        <div>
                            <form  (submit)="onSubmit()" [formGroup]="form" class="">
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div *ngIf="isError" class="alert alert-danger alert-dismissible fade show" role="alert">
                                            <strong>{{ message?.title }}: </strong>{{ message?.content }}
                                            <button type="button" (click)="cancel()" class="close" data-dismiss="alert" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div *ngIf="isSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
                                            <strong>{{ message?.title }}: </strong>{{ message?.content }}
                                            <button type="button" (click)="cancel()" class="close" data-dismiss="alert" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="position-relative form-group"><label for="exampleEmail" class="">Email</label>
                                           <!-- <input name="email" id="exampleEmail" placeholder="{{ 'Forgotpwd.EmailPlaceholder' | translate }}" type="email" class="form-control">-->
                                        <input formControlName="email" name="email" id="exampleEmail" placeholder="{{ 'Forgotpwd.EmailPlaceholder' | translate }}" type="email" class="form-control" 
                                            class="form-control {{ f.email.errors && isSubmitted ? 'invalid': '' }}">
                                        <small class="form-text text-muted info-error info-error-danger"
                                            *ngIf="handleError?.email">
                                            {{ handleError?.email }}
                                        </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-4 d-flex align-items-center">
                                    <h6 class="mb-0">
                                        <a href="javascript:void(0);" (click)="goTo('/private/login')"class="text-primary">{{ 'Forgotpwd.Sign-in' | translate }}</a>
                                    </h6>
                                    <div class="ml-auto" style="width: 70%;">
                                      
                                        <button [disabled]="isLoading"
                                            class="btn-wide btn-shadow btn-hover-shine btn-pill btn-primary btn-lg"
                                            style="width: 100%; justify-content: center; align-items: center; flex: 1;">
                                            <p *ngIf="!isLoading" style="font-size: medium; padding: 0px; margin: 5px;">
                                                {{ 'Forgotpwd.Recoverpwd' | translate }} </p>
                                            <div *ngIf="isLoading" style="padding: 15px; margin-left: 50%;">
                                                <div class="ball-scale-multiple">
                                                    <div style="background-color: white;"></div>
                                                    <div style="background-color: white;"></div>
                                                    <div style="background-color: white;"></div>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>