<div class="app-container app-theme-white body-tabs-shadow">
    <div class="app-container">
        <div class="row">
            <div class="app-page-title" style="margin: 0%; width: 100%;">
                <div class="page-title-wrapper">
                    <div class="page-title-heading">
                        <div class="page-title-icon">
                            <i class="pe-7s-home icon-gradient bg-premium-dark">
                            </i>
                        </div>
                        <div><span class="text-success"><h4>{{ 'AdminPendingDocument.PendingFiles' | translate }}</h4></span> <strong><h5>{{ 'AdminPendingDocument.Workspace' | translate }}</h5></strong>
                            <div class="page-title-subheading">
                                {{ 'AdminPendingDocument.ViewAllFoldersInterface' | translate }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-sm-block bg-white col-sm-12 col-md-12 col-lg-12">
                <div class="alert alert-warning fade show mt-3" role="alert" style="text-align: justify;">
                    <span class="font-icon-wrapper font-icon-md mr-2">
                        <i class="pe-7s-shield" size="medium"> </i>
                    </span>
                    <strong><u>{{ 'AdminPendingDocument.NoteSecurite1' | translate}}</u> </strong> {{ 'AdminPendingDocument.NoteSecurite2' | translate}}
                </div>
                <div *ngIf="isError" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{ message?.title }}: </strong>{{ message?.content }}
                    <button type="button" (click)="cancel()" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div *ngIf="isSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{ message?.title }}: </strong>{{ message?.content }}
                    <button type="button" (click)="cancel()" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!---->
                <div>
                    <div class="main-card mb-3 card">
                        <div class="card-header">
                            <i class="header-icon pe-7s-loop icon-gradient bg-love-kiss"> </i>
                            {{ 'AdminPendingDocument.PendingFolders' | translate}}
                        </div>
                        <div class="card-body">
                
                            <table id="example1" class="table table-hover table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>badge</th>
                                        <th>{{ 'AdminPendingDocument.Name' | translate}}</th>
                                        <th>{{ 'AdminPendingDocument.Description' | translate}}</th>
                                        <th>{{ 'AdminPendingDocument.JointFiles' | translate}}</th>
                                        <th>{{ 'AdminPendingDocument.SubmissionDate' | translate}}</th>
                                        <th>{{ 'AdminPendingDocument.Actions' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of data,let i = index" id="tr{{ item.id }}">
                                        <td>{{ i+1 }}</td>
                                        <td class="text-center">
                                            <span class="badge badge-warning">pnd</span>
                                        </td>
                                        <td>{{ display(item?.name) }}</td>
                                        <td>{{ display(item?.description) }}</td>
                                        <td>{{ item?.file_number }} piece(s) jointe</td>
                                        <td>{{ parser(item?.created_at) }}</td>
                                        <td class="text-center">
                                            <div role="group" class="btn-group-sm btn-group">
                                                <button class="mr-2 btn-icon btn-icon-only btn btn-secondary" (click)="details(item)" title="{{ 'PendingDocument.Info' | translate}}"><i class="pe-7s-info btn-icon-wrapper"> </i></button>
                                                <button class="mr-2 btn-icon btn-icon-only btn btn-success" (click)="acceptedForTreatementFolder(item)" title="prendre le dossier pour traitement"><i class="pe-7s-id btn-icon-wrapper"> </i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot *ngIf="loading && (!data || !data.length)">
                                    <td colspan="7" class="text-center">
                                        <div class="spinner-border spinner-sm">
                                            <span class="sr-only">{{ 'AdminPendingDocument.PleaseWait' | translate}}</span>
                                        </div>
                                    </td>
                                </tfoot>
                                <tfoot *ngIf="!loading && (!data || !data.length)">
                                    <td colspan="7" class="text-center">
                                        {{ 'AdminPendingDocument.EmptyList' | translate}}
                                    </td>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>                
                <!---->
            </div>
        </div>
    </div>
</div>
